*{
    margin: 0;
    
}
.overlay7{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.overlay0{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}
.text-white{
    color: #fefefe;
}
.warp{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.butt{
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.background{
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
}
.video-bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    filter: blur(8px);
  -webkit-filter: blur(8px);
    z-index: -1;
}
.center{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.box{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.box-index{

    padding: 15px;
    width: 50%;
    border-radius: 30px;

}
.head-text{
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
}
.go{
    text-decoration: none;
    
}
.increase{
    width: 95%;
    height: 40px;
    border-radius: 10px; 
}
.border-white{
    border-color: rgb(255, 255, 255,0.3);
}
.mini-center{
    display: flex;
    justify-content: center;
}
.box-sm{
    position: absolute;
    padding: 20px;
    width: 90%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255,0.3);
}
.relative-bg{
    position: relative;
}

.center1{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.bg-absolute{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.box-signup{
    position: absolute;
    padding: 50px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255,0.3);

}