body{
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #000000;
    overflow-x: hidden;
}
.box{
    height: 100vh;

}
.box2{
    height: 1vh;

}
.box-relative{
    position: relative;
    
}
.box-absolute{
    position: absolute;
    width: 100%;
    height: 100%;

}
.box-absolute1{
    position: absolute;
    width: 98%;
    height: 63%;

}
.check{
    border-style:solid ;
}

.bar{
    height: 50px;
    width:98%;
}
.btn-A{
    border:none;
    color: black;
    transition: ease-out 5s;
    outline: none;
    border-radius: 2px;
}
.btn-A:hover{
    box-shadow: inset 750px 0 0 0 rgb(84, 248, 52);
    cursor: pointer;
    color: #fefefe;
}
.checkbox{
    border: solid black;
    border-width: 20px;
}
.zdex{
    z-index: 1;
}
.sign-out{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: light;
    color: #3a3a3a;
}
.overlay7{
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-bg{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(8px);
    z-index: -1;
}
.box1{
    color: #3a3a3a;
    background-color: #fefefe;
}
.img-background{
    background-image:url(/static/bg.png);
}