.box{
    height: 100vh;

}
.box-relative{
    position: relative;
}
.box-absolute{
    position: absolute;
    width: 100%;
    height: 100%;
}
.check{
    border-style:solid ;
}
.box-solid{
    border-style: solid;
    border-color:black ;
    border-width: 3px;
    border-top-right-radius: 60px 70px;
}
.bar{
    height: 50px;
    width:90%;
}
.btn-A{
    border:none;
    color: black;
    transition: ease-out 5s;
    outline: none;
    border-radius: 2px;
}
.btn-A:hover{
    box-shadow: inset 750px 0 0 0 rgb(84, 248, 52);
    cursor: pointer;
    color: #fefefe;
}