<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/dash.css">
    <style>
        body {
            font-family: "Lato", sans-serif
        }

        .mySlides {
            display: none
        }
    </style>
</head>

<body>
    <div class="container-fluid p-0">
        <div class="row box">
            <div class="col-md-3 box-solid box-relative p-0 m-0 ">
                <div class="d-flex box-absolute">
                    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%;overflow-x: hidden;">
                        <h1 class="w3-bar-item" style="font-family: 'Lato', sans-serif; font-weight: 400;font-size: 50px; color: #444444;">Echo</h1>
                        <h3 class="w3-bar-item ms-4" style="color: #444444; font-weight: 500;">Task</h3>
                        <ul>
                            <a href="{{url_for('dashboard')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                                <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/vdjwmfqs.json"
                                    trigger="hover"
                                    colors="primary:#444444"
                                    style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                                </lord-icon>Today</a>
                            <a href="{{url_for('calendar')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                                <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/eouimtlu.json"
                                    trigger="hover"
                                    colors="primary:#444444"
                                    style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                                </lord-icon>Calendar</a>
                            <a href="{{url_for('note')}}" class="w3-bar-item w3-button" style="background-color: #d3d1d1; font-weight: 300;">
                                <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/zyzoecaw.json"
                                    trigger="hover"
                                    colors="primary:#444444"
                                    style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                                </lord-icon>Note</a>
                            <a href="{{url_for('profile')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                                <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/kthelypq.json"
                                    trigger="hover"
                                    colors="primary:#444444"
                                    style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                                </lord-icon>Profile</a>
                            <a href="{{url_for('about')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                                <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/lyrrgrsl.json"
                                    trigger="hover"
                                    colors="primary:#444444"
                                    style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                                </lord-icon>About</a>
                        </ul>
                    </div>
                </div>
                <div class="d-flex align-items-end justify-content-end box-absolute">
                    <a href="{{url_for('logout')}}" class="d-flex pe-4 sign-out" style="z-index: 1;">
                        <h3>sign out
                            <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/gwvmctbb.json"
                                trigger="hover"
                                colors="primary:#444444,secondary:#444444"
                                style="width:30px;height:30px; padding-top: 7px;">
                            </lord-icon>
                        </h3>
                    </a>
                </div>
            </div>
            <div class="continer-fluid col-md-9 p-0 img-background">
                <h1>Note</h1>
                <div class="col-md-12 row" style="padding-left: 20px;">
                    {% for note in all_note %}
                    <div class="col-md-4" style="height: 500px; border-style: outset;border-color: bisque; border-radius: 10px;margin: 5px;border-width: 1px; background-color: beige;" id="total">
                        <button onclick="delete_note(document.getElementById('{{note[0]}}').innerHTML);;location.href=location.href"  type="button" style="float: right;border-style: none;background-color: #44444400;">
                            <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/wpyrrmcq.json"
                                trigger="hover"
                                colors="primary:#444444"
                                style="width:30px;height:30px">
                            </lord-icon></button>
                        <h3 id="{{note[0]}}">{{note[0]}}</h3>
                        <h5>{{note[1]}}</h5>
                        
                    </div>
                    {% endfor %}
                    <button onclick="myFunction1()" class="col-md-4 text-center" style="z-index: 1; border-style: none;background-color: white;border-radius: 80px; " id="total1">
                        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                            <lord-icon
                                src="https://cdn.lordicon.com/zyzoecaw.json"
                                trigger="hover"
                                colors="primary:#444444"
                                style="width:50px;height:50px">
                            </lord-icon>
                        <h3 class="text-center">add note</h3>
                    </button>
                </div>
                <div id="note" class="mt-3 p-3 col-md-8 m-3" style="display: none; background-color: #fefefe8c; border-radius:15px ;">
                    <h3 style="color: black;">Add note</h3>
                    <form action="{{url_for('addnote')}}" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1" style='z-index: 1; color: black;'>Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                            placeholder="Title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" style='z-index: 1; color: black;'>Note</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="note" req>
                        </div>
                        <button type="submit" class="btn btn-success mt-3">Submit</button>
                    </form>
                    <button onclick="myFunction1()" class="btn mt-3" style="border: solid; padding: auto;">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/0d8181b8a6.js" crossorigin="anonymous"></script>
</body>
<script>
    function myFunction1() {
        var note = document.getElementById("note");
        if (note.style.display === "none") {
            note.style.display = "block";
            total.style.display = "none";
            total1.style.display = "none";

        } else {
            note.style.display = "none";
            total.style.display = "block";
            total1.style.display = "block";
        }
    }
    function delete_note(want){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/delete_note', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({ myString: want }));
        xhr.onload = function() {
        if (xhr.status == 200) {
            console.log(JSON.parse(xhr.responseText));
        } else {
            console.error('Error:', xhr.status);
        }
        };
    }
</script>

</html>