<div class="container-fluid position-relative d-flex row"style="width: 100%; position: relative; padding-left: 30%;">
        <div class="col-md-12 text-center" style="width: 100%; height: 100%;"> 
            <img src="../static/profile001.jpg" alt="" srcset="" style="width: 200px; justify-content: center; padding: 10px; border-radius: 100%; height: 200px;">
        </div>
    <div class="row g-3">
        <div class="col-md-6">
        <label for="inputEmail4" class="div-label">Firstname</label>
        </div>
        <div class="col-md-6">
        <label for="inputPassword4" class="div-label">Lastname</label>
        </div>
        <div class="col-12">
        <label for="inputAddress" class="div-label">Address</label>
        </div>
        <div class="col-md-6">
        <label for="inputCity" class="div-label">City</label>
        </div>
        <div class="col-md-4">
        <label for="inputState" class="div-label">State</label>
        </div>
        <div class="col-md-2">
        <label for="inputZip" class="div-label">Zip</label>
        </div>
    </div>
    <div class="card p-10 position-relative col-md-12" style="width: 100%; justify-content:center; margin-top: 40px;">
        <div class="card-header">
            Recently
        </div>
        <ul class="list-group list-group-flush bottom-0 end-0 pos" >
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>
</div>