<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.cdnfonts.com/css/amoera" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/inclusive-sans-2" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/dash.css">
    <title>Document</title>
</head>
<body>
    <div class="col-md-3 box-solid box-relative p-0 m-0">
        <div class="d-flex box-absolute">
            <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
                <h1 class="w3-bar-item" style="font-family: 'Lato', sans-serif; font-weight: 400;font-size: 50px; color: #444444;">Echo</h1>
                <h3 class="w3-bar-item ms-4" style="font-family: 'Lato', sans-serif; color: #444444; font-weight: 500;">Task</h3>
                <ul>
                    <a href="{{url_for('dashboard')}}" class="w3-bar-item w3-button" style="background-color: #d3d1d1; font-weight: 300;">
                        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/vdjwmfqs.json"
                            trigger="hover"
                            colors="primary:#444444"
                            style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                        </lord-icon>Today</a>
                    <a href="{{url_for('calendar')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/eouimtlu.json"
                            trigger="hover"
                            colors="primary:#444444"
                            style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                        </lord-icon>Calendar</a>
                    <a href="{{url_for('note')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/zyzoecaw.json"
                            trigger="hover"
                            colors="primary:#444444"
                            style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                        </lord-icon>Note</a>
                    <a href="{{url_for('about')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/lyrrgrsl.json"
                            trigger="hover"
                            colors="primary:#444444"
                            style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                        </lord-icon>About</a>
                    <a href="{{url_for('about')}}" class="w3-bar-item w3-button" style="font-weight: 300;">
                        <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/lyrrgrsl.json"
                            trigger="hover"
                            colors="primary:#444444"
                            style="width:20px;height:20px; padding-top: 3px; padding-right: 30px;">
                        </lord-icon>About</a>
                </ul>
            </div>
        </div>
        <div class="d-flex align-items-end justify-content-end box-absolute">
            <a href="{{url_for('logout')}}" class="d-flex pe-4 sign-out" style="z-index: 1;">
                <h3>sign out
                    <script src="https://cdn.lordicon.com/lordicon-1.2.0.js"></script>
                    <lord-icon
                        src="https://cdn.lordicon.com/gwvmctbb.json"
                        trigger="hover"
                        colors="primary:#444444,secondary:#444444"
                        style="width:30px;height:30px; padding-top: 7px;">
                    </lord-icon>
                </h3>
            </a>
        </div>
    </div>
    <div class="container-fluid position-relative d-flex row"style="width: 100%; position: relative; padding-left: 30%;">
        <div class="col-md-12 text-center" style="width: 100%; height: 100%;"> 
            <img src="../static/profile001.jpg" alt="" srcset="" style="width: 200px; justify-content: center; padding: 10px; border-radius: 100%; height: 200px;">
        </div>
        <div class="row g-3">
            <div class="col-md-6">
              <label for="inputEmail4" class="div-label">Firstname</label>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="div-label">Lastname</label>
            </div>
            <div class="col-12">
              <label for="inputAddress" class="div-label">Address</label>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="div-label">City</label>
            </div>
            <div class="col-md-4">
              <label for="inputState" class="div-label">State</label>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="div-label">Zip</label>
            </div>
          </div>
        <div class="card p-10 position-relative col-md-12" style="width: 100%; justify-content:center; margin-top: 40px;">
            <div class="card-header">
                Recently
            </div>
            <ul class="list-group list-group-flush bottom-0 end-0 pos" >
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>
    </div>
    
</body>
</html>